corcs.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Compatible One Remote Command Server
			Manifest Document and Service Level Agreement 
			Description Schema Version 2.12
			Provisionary Version 06th Dec 2013
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="cordsManifest">
		<xsd:sequence>
			<xsd:element name="security" type="cordsSecurity" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="account" type="cordsAccount" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="configuration" type="cordsConfiguration" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="release" type="cordsRelease" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="interface" type="cordsInterface" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="node" type="cordsNode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="error" type="cordsError" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="warning" type="cordsWarning" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="choice" type="cordsChoice" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="configuration" type="xsd:string"/>
		<xsd:attribute name="release" type="xsd:string"/>
		<xsd:attribute name="interface" type="xsd:string"/>
		<xsd:attribute name="security" type="xsd:string"/>
		<xsd:attribute name="account" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="nodes" type="xsd:integer"/>
		<xsd:attribute 
			name="plan" 
			type="xsd:string"
			default="cordscript: plan.new(id.value,name.value);"
			/>
		<xsd:attribute name="zone" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsSecurity">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="level" type="xsd:string"/>
		<xsd:attribute name="scheme" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsAccount">
		<xsd:sequence>
			<xsd:element name="user" type="cordsUser" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="number" type="xsd:string"/>
		<xsd:attribute name="security" type="xsd:string"/>
		<xsd:attribute name="date" type="xsd:string"/>
		<xsd:attribute name="legal" type="xsd:string"/>
		<xsd:attribute name="users" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsUser">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="password" type="xsd:string"/>
		<xsd:attribute name="email" type="xsd:string"/>
		<xsd:attribute name="role" type="xsd:string"/>
		<xsd:attribute name="account" type="xsd:string"/>
		<xsd:attribute name="authorization" type="xsd:string"/>
		<xsd:attribute name="when" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsConfiguration">
		<xsd:sequence>
			<xsd:element name="action" type="cordsAction" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="actions" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsRelease">
		<xsd:sequence>
			<xsd:element name="action" type="cordsAction" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="actions" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsInterface">
		<xsd:sequence>
			<xsd:element name="action" type="cordsAction" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="actions" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsAction">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="expression" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsNode">
		<xsd:sequence>
			<xsd:element name="infrastructure" type="cordsInfrastructure" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="image" type="cordsImage" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>

		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="infrastructure" type="xsd:string"/>
		<xsd:attribute name="image" type="xsd:string"/>
		<xsd:attribute 
			name="provider" 
			type="xsd:string"
			default="any"
			/>
		<xsd:attribute name="operator" type="xsd:string" default="any"/>
		<xsd:attribute name="profile" type="xsd:string"/>
		<xsd:attribute 	
			name="access" 
			type="xsd:string"
			default="private" 
			/>
		<xsd:attribute 	
			name="category" 
			type="xsd:string"
			default="manifest" 
			/>
		<xsd:attribute
		 	name="scope" 
			type="xsd:string"
			default="normal" 
			/>
		<xsd:attribute 	
			name="type" 
			type="xsd:string"
			default="simple" 
			/>
		<xsd:attribute
		 	name="entry" 
			type="xsd:string"
			default="none" 
			/>
		<xsd:attribute name="state" type="xsd:integer"/>

		<xsd:attribute 	
			name="cordscript" 
			type="xsd:string"
			default="type.resolve(plan.name,type.value);"
			/>

		<xsd:attribute 	
			name="firewall" 
			type="xsd:string"
			default="cordscript: firewall.new(id.value); firewall.build();"/>

	</xsd:complexType>

	<xsd:complexType name="cordsInfrastructure">
		<xsd:sequence>
			<xsd:element name="compute" type="cordsCompute" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="network" type="cordsNetwork" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="storage" type="cordsStorage" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="compute" type="xsd:string"/>
		<xsd:attribute name="network" type="xsd:string"/>
		<xsd:attribute name="storage" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsCompute">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="architecture" type="xsd:string"/>
		<xsd:attribute name="hostname" type="xsd:string"/>
		<xsd:attribute name="cores" type="xsd:string"/>
		<xsd:attribute name="speed" type="xsd:string"/>
		<xsd:attribute name="memory" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsNetwork">
		<xsd:choice>
			<xsd:element name="port" type="cordsPort" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="endpoint" type="cordsEndpoint" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="label" type="xsd:string"/>
		<xsd:attribute name="vlan" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsEndpoint">
		<xsd:sequence>
			<xsd:element name="port" type="cordsPort" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="label" type="xsd:string"/>
		<xsd:attribute name="dns" type="xsd:string"/>
		<xsd:attribute name="subnet" type="xsd:string"/>
		<xsd:attribute name="range" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsStorage">
		<xsd:sequence>
			<xsd:element name="volume" type="cordsVolume" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="size" type="xsd:string"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsVolume">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="size" type="xsd:string"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsImage">
		<xsd:sequence>
			<xsd:element name="system" type="cordsSystem" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="package" type="cordsPackage" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="system" type="xsd:string"/>
		<xsd:attribute 	
			name="vm" 
			type="xsd:string"
			default="cordscript: vm.new(id.value,provider.value); vm.build();"/>
		<xsd:attribute name="agent" type="xsd:string" default="cosacs"/>
		<xsd:attribute name="price" type="xsd:string" />
		<xsd:attribute name="packages" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsSystem">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="version" type="xsd:string"/>
		<xsd:attribute name="distribution" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="constraint" type="xsd:string"/>
		<xsd:attribute name="requirement" type="xsd:string"/>
		<xsd:attribute name="price" type="xsd:string"/>
		<xsd:attribute name="license" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsPackage">
		<xsd:sequence>
			<xsd:element name="port" type="cordsPort" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="version" type="xsd:string"/>
		<xsd:attribute name="installation" type="xsd:string" default="#" />
		<xsd:attribute name="configuration" type="xsd:string" default="#" />
		<xsd:attribute name="distribution" type="xsd:string" default="none" />
		<xsd:attribute name="mirrors" type="xsd:string" default="none" />
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="constraint" type="xsd:string"/>
		<xsd:attribute name="requirements" type="xsd:string"/>
		<xsd:attribute name="price" type="xsd:string"/>
		<xsd:attribute name="license" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsFirewall">
		<xsd:sequence>
			<xsd:element name="port" type="cordsPort" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="node" type="xsd:string"/>
		<xsd:attribute name="provider" type="xsd:string"/>
		<xsd:attribute name="profile" type="xsd:string"/>
		<xsd:attribute name="price" type="xsd:string"/>
		<xsd:attribute name="ports" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsPort">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="protocol" type="xsd:string"/>
		<xsd:attribute name="from" type="xsd:string"/>
		<xsd:attribute name="to" type="xsd:string"/>
		<xsd:attribute name="range" type="xsd:string"/>
		<xsd:attribute name="direction" type="xsd:string" default="inout"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsError">
		<xsd:attribute name="code" type="xsd:string"/>
		<xsd:attribute name="message" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsWarning">
		<xsd:attribute name="code" type="xsd:string"/>
		<xsd:attribute name="message" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsChoice">
		<xsd:attribute name="code" type="xsd:string"/>
		<xsd:attribute name="message" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsMetric">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="units" type="xsd:string"/>
		<xsd:attribute name="period" type="xsd:string"/>
		<xsd:attribute name="samples" type="xsd:string"/>
		<xsd:attribute name="expression" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsAgreement">
		<xsd:sequence>
			<xsd:element name="terms" type="cordsTerms" minOccurs="3" maxOccurs="3"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="initiator" type="xsd:string"/>
		<xsd:attribute name="responder" type="xsd:string"/>
		<xsd:attribute name="serviceprovider" type="xsd:string"/>
		<xsd:attribute name="initiation" type="xsd:string"/>
		<xsd:attribute name="expiration" type="xsd:string"/>
		<xsd:attribute name="template" type="xsd:string"/>
		<xsd:attribute name="templatename" type="xsd:string"/>
		<xsd:attribute name="termss" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
		<xsd:attribute 	
			name="cordscript" 
			type="xsd:string"
			default="account.resolve(account.name,initiator.value); account.resolve(account.name,responder.value);"
			/>
	</xsd:complexType>

	<xsd:complexType name="cordsTerms">
		<xsd:sequence>
			<xsd:element name="term" type="cordsTerm" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="terms" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsTerm">
		<xsd:sequence>
			<xsd:element name="manifest" type="cordsManifest" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="guarantee" type="cordsGuarantee" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="variable" type="cordsVariable" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="identity" type="xsd:string"/>
		<xsd:attribute name="manifest" type="xsd:string"/>
		<xsd:attribute name="provider" type="xsd:string"/>
		<xsd:attribute name="federation" type="xsd:string"/>
		<xsd:attribute name="variables" type="xsd:integer"/>
		<xsd:attribute name="guarantees" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsVariable">
		<xsd:sequence>
			<xsd:element name="metric" type="cordsMetric" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="property" type="xsd:string"/>
		<xsd:attribute name="condition" type="xsd:string"/>
		<xsd:attribute name="value" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="metric" type="xsd:string"/>
		<xsd:attribute name="location" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsGuarantee">
		<xsd:sequence>
			<xsd:element name="variable" type="cordsVariable" minOccurs="0" maxOccurs="1" />
			<xsd:element name="business" type="cordsBusiness" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="obligated" type="xsd:string"/>
		<xsd:attribute name="importance" type="xsd:string"/>
		<xsd:attribute name="scope" type="xsd:string"/>
		<xsd:attribute name="variable" type="xsd:string"/>
		<xsd:attribute name="values" type="xsd:integer"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

	<xsd:complexType name="cordsBusiness">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="description" type="xsd:string"/>
		<xsd:attribute name="nature" type="xsd:string"/>
		<xsd:attribute name="type" type="xsd:string"/>
		<xsd:attribute name="expression" type="xsd:string"/>
		<xsd:attribute name="state" type="xsd:integer"/>
	</xsd:complexType>

</xsd:schema>

